<!--awards section-->

{%

    set awards = [
        {
            "name":"Beulah Daniels Memorial Scholarship In Music",
            "month_year_granted":"July 2017"
        },
        {
            "name":"University of Victoria's President's Sholarship",
            "month_year_granted":"July 2017"
        },
    ]
    
%}

<div id="awards_section" class="row py-3">

    {% for award in awards %}

        <p>
            <b>{{award.name}}</b> - {{award.month_year_granted}}
        </p>

    {% endfor %}

</div><!-- end awards_section -->