{% extends "base.html" %}

{% block stylesheet %}
    {% assets "light_mode_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock stylesheet %}

{% block content %}

<div class="container-fluid">

    <div id = "overarching_div" class="row justify-content-center py-lg-5 py-md-5 py-sm-3 py-3">

        <div class="col-10"><!-- find a way to center content and not use full width -->

            <div class="row d-flex justify-content-end py-3">
              <div class="col-1">
                <a href="/dark_mode">
                  <i class="fas fa-moon fa-1x" style="color:black;"></i>            
                </a>
              </div>
            </div>

            <div id="main_name_area" class="row">
                <h1>Hector Perez</h1><!-- Will need a google font for that.-->            
            </div>
    
            {% include 'light_mode/personal_information.html' %}
    
            <div id="two_column_layout" class="row justify-content-center">
    
                <div id="left_column" class="col-lg-4 col-md-4 col-sm-12 col-12 align-self-center">

                    <div class="accordion" id="accordion1">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="accordion1-headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1-collapseOne" aria-expanded="true" aria-controls="accordion1-collapseOne">
                                <h2>Profile</h2>
                            </button>
                          </h2>
                          <div id="accordion1-collapseOne" class="accordion-collapse collapse show" aria-labelledby="accordion1-headingOne">
                            <div class="accordion-body">
                                {% include 'light_mode/profile.html' %}
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="accordion1-headingTwo">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1-collapseTwo" aria-expanded="false" aria-controls="accordion1-collapseTwo">
                                <h2>Programming Tools</h2>
                            </button>
                          </h2>
                          <div id="accordion1-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="accordion1-headingTwo">
                            <div class="accordion-body">
                                {% include 'light_mode/programming_tools.html' %}
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="accordion1-headingThree">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1-collapseThree" aria-expanded="false" aria-controls="accordion1-collapseThree">
                                <h2>Awards</h2>
                            </button>
                          </h2>
                          <div id="accordion1-collapseThree" class="accordion-collapse collapse show" aria-labelledby="accordion1-headingThree">
                            <div class="accordion-body">
                                {% include 'light_mode/awards.html' %}
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="accordion1-headingFour">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1-collapseFour" aria-expanded="false" aria-controls="accordion1-collapseThree">
                                <h2>Certifications</h2>
                            </button>
                            </h2>
                            <div id="accordion1-collapseFour" class="accordion-collapse collapse" aria-labelledby="accordion1-headingFour">
                              <div class="accordion-body">
                                {% include 'light_mode/certifications.html' %}
                            </div>
                            </div>
                          </div>
                      </div><!--end of accordion-->

                </div>
    
                <div id="right_column" class="col-lg-8 col-md-8 col-sm-12 col-12 align-self-center">

                    <div class="accordion" id="accordion2">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="accordion2-headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion2-collapseOne" aria-expanded="true" aria-controls="accordion1-collapseOne">
                                <h2>Work Experience</h2>
                            </button>
                          </h2>
                          <div id="accordion2-collapseOne" class="accordion-collapse collapse show" aria-labelledby="accordion2-headingOne">
                            <div class="accordion-body">
                                {% include 'light_mode/work_experiences.html' %}
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="accordion2-headingTwo">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion2-collapseTwo" aria-expanded="false" aria-controls="accordion1-collapseTwo">
                                <h2>Education</h2>
                            </button>
                          </h2>
                          <div id="accordion2-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="accordion2-headingTwo">
                            <div class="accordion-body">
                                {% include 'light_mode/education.html' %}
                            </div>
                          </div>
                        </div>

                      </div><!--end of accordion 2-->
                    

    
                </div>
    
    
            </div>
    
        </div><!--col 10-->


    </div>





</div>


{% endblock content %}
   
{% block scripts %}

{% assets "light_mode_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>  
{% endassets %}

{% endblock scripts %}