<!--awards section-->

{%

    set awards = [
        {
            "name":"Beulah Daniels Memorial Scholarship In Music",
            "month_year_granted":"July 2017"
        },
        {
            "name":"University of Victoria's President's Sholarship",
            "month_year_granted":"July 2017"
        },
    ]
    
%}

<div id="awards_section" class="row py-3">

    {% for award in awards %}

        <span id="award-{{loop.index}}" class="pb-3">
            <p class="d-inline text" id="award-name-{{loop.index}}"><b>{{award.name}}</b></p><p class="d-inline text" id="award-month_year_granted-{{loop.index}}"> - {{award.month_year_granted}}</p>
        </span>

    {% endfor %}

</div><!-- end awards_section -->