{% extends "base.html" %}

{% block stylesheet %}
    {% assets "dark_mode_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock stylesheet %}

{% block content %}

<div class="container-fluid">

  <div class="row justify-content-center py-5">
    <div id = "overarching_div" class="col-10 align-self-center">

      <div class="row justify-content-center">
        <h1> Hector Perez</h1>
      </div>

      <div class="row justify-content-center">
        {% include 'dark_mode/personal_information.html ' %}
      </div>

      <div class="row justify-content-center">
        <div id="picker" class="col-3">

            <!-- <button id ="programming_tools_button" class="btn btn-light"> Programming Tools </button>
            <button id ="work_experiences_button" class="btn btn-light"> Work Experiences </button> -->

            <ul class="nav flex-column">
                <li class="nav-item">
                  <button id = "profile_button" class="nav-link btn-dark active d-inline">
                    <!-- <p class="text text-left"> -->
                      <i class="fas fa-user-circle d-inline"></i>
                      <p class="text-left d-inline">
                        Profile
                      </p>
                    <!-- </p> -->
                  </button>
                </li>
                <li class="nav-item">
                  <button id = "programming_tools_button" class="nav-link btn-dark">
                    <i class="fas fa-toolbox d-inline"></i>
                    Programming Tools
                  </button>
                </li>
                <li class="nav-item">
                  <button id = "awards_button" class="nav-link btn-dark">
                    <i class="fas fa-award d-inline"></i>
                    Awards
                  </button>
                </li>
                <li class="nav-item">
                  <button id = "certifications_button" class="nav-link btn-dark">
                    <i class="fas fa-scroll d-inline"></i>
                    Certifications
                  </button>
                </li>
                <li class="nav-item">
                  <button id = "work_experiences_button" class="nav-link btn-dark ">
                  <i class="fas fa-chart-line d-inline"></i>
                    Work Experience
                  </button>
                </li>
                <li class="nav-item">
                  <button id = "education_button" class="nav-link btn-dark">
                    <i class="fas fa-graduation-cap d-inline"></i>
                    Education
                  </button>
                </li>
            </ul>


        </div>

        <div id="content" class="col-7">

            <!-- Maybe with JQUERY I can just set content to be something different ? -->

            <div id="profile_row" class="row dynamic-content">
              {% include 'dark_mode/profile.html' %}
            </div>

            <div id="programming_tools_row" class="row dynamic-content">
                {% include 'dark_mode/programming_tools.html' %}
            </div>

            <div id="awards_row" class="row dynamic-content">
              {% include 'dark_mode/awards.html' %}
            </div>

            <div id="certifications_row" class="row dynamic-content">
              {% include 'dark_mode/certifications.html' %}
            </div>

            <div id="work_experiences_row" class="row dynamic-content">
                {% include 'dark_mode/work_experiences.html' %}
            </div>

            <div id="education_row" class="row dynamic-content">
              {% include 'dark_mode/education.html' %}
          </div>

        </div>
      </div><!--outer row-->


    </div><!--col-->
  </div><!--outermost row-->

</div>


{% endblock content %}
   
{% block scripts %}

{% assets "dark_mode_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>  
{% endassets %}

{% endblock scripts %}