{% extends "base.html" %}

{% block stylesheet %}
    {% assets "dark_mode_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock stylesheet %}

{% block content %}

<div class="container-fluid">

    <div id = "overarching_div" class="row justify-content-center py-5">

      <h1> Welcome to dark mode !</h1>

    </div>

</div>


{% endblock content %}
   
{% block scripts %}

{% assets "dark_mode_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>  
{% endassets %}

{% endblock scripts %}