<!--programming tools section-->

{%
    set programmingtools = [
        {
            "name":"PostgreSQL",
        },
        {
            "name":"HTML",
        },
        {
            "name":"CSS",
        },
        {
            "name":"Javascript",
        },
        {
            "name":"NodeJS",
        },
        {
            "name":"Python",
        },
        {
            "name":"Heroku",
        },
        {
            "name":"Version Control with Github",
        },
    ]
%}

<div id="programming_tools_section" class="row py-3">

    <ul>
        {% for programmingtool in programmingtools %}
            <li>
                <p>
                    {{ programmingtool.name }}
                </p>
            </li>
        {% endfor %}
    </ul>

</div><!-- end programming tools section-->