<div id="personal_information" class="row justify-content-center pt-3 pb-lg-5 pb-sm-1 pb-1 ">    
    <!-- going to need some icons here ... -->
    <div class="col-lg-4 col-md-4 col-sm-12 col-12 pb-sm-3 pb-3">
        <a class="d-inline" target="_blank" href="https://goo.gl/maps/ZKooPjQA7TkBoBuh6">
            <i class="fas colored_icon fa-map-marker-alt"></i>
        </a>
        <p class="d-inline mx-2">
            51 Regina Avenue, 
            Victoria BC V8Z1H8
        </p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-12 pb-sm-3 pb-3">
        <a class="d-inline" target="_blank" href="+12505805019"><!--how does this work. is this not a smart thing to put here?-->
            <i class="fas colored_icon fa-phone"></i>
        </a>
        <p class="d-inline mx-2">
            +1 250 580 5019
        </p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-12 pb-sm-3 pb-3">
        <a class="d-inline" target="_blank" href="mailto:hectorandres.pv@gmail.com">
            <i class="fas colored_icon fa-envelope"></i>
        </a>
        <p class="d-inline mx-2">
            hectorandres.pv@gmail.com
        </p>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-12 pb-sm-1 pb-1 ">
        <a class="d-inline" target="_blank" href="https://linkedin.com/in/hectorapv"><!-- note - the hyperlink is making it 'blue'-->
            <i class="fab colored_icon fa-linkedin-in"></i>
        </a>
        <p class="d-inline mx-2">
            /hectorapv
        </p>
    </div>

</div><!--END personal_information section-->