body {
    font-family: 'Montserrat';
    background-color: #1d2121;
}

h1,p{
    color:white;
}

.nav-link{
    width:250px;
    border-radius: 15px;
    color:white;
    /* padding-top: 50px;
    padding-bottom: 50px; */
    margin-top: 10px;
    margin-bottom: 10px;
    align-content:flex-start ; /*not sure if this works*/
}

.nav-link:hover{
    background-color: #2d2d2d;
}

a{
    text-decoration: none;
}

.colored_icon{
    color : white;
}

.active{
    background-color: orange !important;
}