{% extends "base.html" %}

{% block stylesheet %}
    {% assets "index_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock stylesheet %}

{% block content %}

<div class="container-fluid">

    <div id = "overarching_div" class="row justify-content-center py-5">

        <div class="col-10"><!-- find a way to center content and not use full width -->

            <div id="main_name_area" class="row">
                <h1>Hector Perez</h1><!-- Will need a google font for that.-->            
            </div>
    
            {% include 'index/personal_information.html' %}
    
            <div id="two_column_layout" class="row justify-content-center">
    
                <div id="left_column" class="col-4 align-self-center">
    
                    {% include 'index/profile.html' %}
    
                    {% include 'index/programming_tools.html' %}
    
                    {% include 'index/awards.html' %}
    
                    {% include 'index/certifications.html' %}

    
                </div>
    
                <div id="right_column" class="col-8 align-self-center">
                    
                    {% include 'index/work_experiences.html' %}

                    {% include 'index/education.html' %}
    
                </div>
    
    
            </div>
    
        </div><!--col 10-->


    </div>





</div>


{% endblock content %}
   
{% block scripts %}

{% assets "index_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>  
{% endassets %}

{% endblock scripts %} -->